process {
    withName: 'GATK4_PRINTREADS_MT' {
        beforeScript = {"mkdir ./tmp"}
        ext.args = [
            "-L ${params.mito_name}",
            "--read-filter MateOnSameContigOrNoMappedMateReadFilter",
            "--read-filter MateUnmappedAndUnmappedReadFilter"
        ].join(" ").trim()
    }

    withName: 'GATK4_REVERTSAM_MT' {
        ext.args = '--OUTPUT_BY_READGROUP false --VALIDATION_STRINGENCY LENIENT --ATTRIBUTE_TO_CLEAR FT --ATTRIBUTE_TO_CLEAR CO --SORT_ORDER queryname --RESTORE_ORIGINAL_QUALITIES false'
    }

    withName: 'GATK4_SAMTOFASTQ_MT' {
        ext.args = '--INTERLEAVE false --NON_PF true'
    }
}